<h1>Política de privacidad</h1>
<b>IDENTIFICACIÓN DEL TITULAR</b>

<b>www.scic.cat</b> es un dominio titularidad de <b>Secretariat de Corals Infantils de Catalunya</b> domiciliada en <b>Pl. de Víctor Balaguer 5, 3r 08003 Barcelona</b> C.I.F. <b>G58329210</b> y dirección de correo electrónico <a href="mailto:info@scic.cat"> info@scic.cat</a>.

<b>PROTECCIÓN DE DATOS </b>

<b>Secretariat de Corals Infantils de Catalunya</b>, es el Responsable del tratamiento de los datos personales del Usuario y le informa que estos datos serán tratados de conformidad con lo dispuesto en las normativas vigentes en protección de datos y conforme a la normativa vigente de la sociedad de la información, por lo que se facilita la siguiente información del tratamiento:

<b>Fin del tratamiento:</b> mantener una relación comercial con el Usuario. Las operaciones previstas para realizar el tratamiento son:

Remisión de comunicaciones comerciales publicitarias, siempre y cuando se haya autorizado previamente, por email, fax, SMS, MMS, comunidades sociales o cualquier otro medio electrónico o físico, presente o futuro, que posibilite realizar comunicaciones comerciales. Estas comunicaciones serán realizadas por <b>Secretariat de Corals Infantils de Catalunya</b> y relacionadas sobre sus productos y servicios, o de sus colaboradores o proveedores con los que éste haya alcanzado algún acuerdo de promoción. En este caso, los terceros nunca tendrán acceso a los datos personales.

Realizar estudios estadísticos.

Tramitar encargos, solicitudes o cualquier tipo de petición que sea realizada por el usuario a través de cualquiera de las formas de contacto que se ponen a su disposición.

Remitir el boletín de noticias de la página web.

<b>Criterios de conservación de los datos:</b> se conservarán mientras exista un interés mutuo para mantener el fin del tratamiento y cuando ya no sea necesario para tal fin, se suprimirán con medidas de seguridad adecuadas para garantizar la seudonimización de los datos o la destrucción total de los mismos.

<b>Destinatarios de los datos:</b> Salvo obligación legal, <b>Secretariat de Corals Infantils de Catalunya</b> informa y garantiza expresamente a los usuarios que sus datos personales no serán cedidos en ningún caso a terceros, y que siempre que realizará algún tipo de cesión de datos personales, se pedirá previamente el consentimiento expreso, informado e inequívoco por parte los Usuarios.

<b>Transferencias Internacionales: </b>No se realizan Transferencias Internacionales de datos a terceros países fuera de la Unión Europea.

<b>Derechos que asisten al Usuario:</b>

Derecho a retirar el consentimiento en cualquier momento.

Derecho de acceso, rectificación, portabilidad y supresión de sus datos y a la limitación u oposición al su tratamiento.

Derecho a presentar una reclamación ante la autoridad de control (agpd.es) si considera que el tratamiento no se ajusta a la normativa vigente.

Podrá revocar en cualquier momento el consentimiento prestado a la recepción de comunicaciones comerciales, enviando su solicitud al correo electrónico  <a href="mailto:info@scic.cat">info@scic.cat</a>.

<b>Datos de contacto para ejercer sus derechos:</b>

Dirección postal: <b>Pl. de Víctor Balaguer 5, 3r 08003 Barcelona</b>

Dirección electrónica:   <a href="mailto:info@scic.cat">info@scic.cat</a>.

Los Usuarios, mediante la marcación de las casillas correspondientes y entrada de datos en los campos, marcados con un asterisco (*) en el formulario de contacto o presentados en formularios de descarga, aceptan expresamente y de forma libre e inequívoca, que sus datos son necesarios para atender su petición, por parte del prestador, siendo voluntaria la inclusión de datos en los campos restantes. El Usuario garantiza que los datos personales facilitados a <b>Secretariat de Corals Infantils de Catalunya</b> son veraces y se hace responsable de comunicar cualquier modificación de los mismos.

Todos los datos solicitados a través del sitio web son obligatorios, ya que son necesarios para la prestación de un servicio óptimo al Usuario. En caso de que no sean facilitados todos los datos, no se garantiza que la información y servicios facilitados sea completamente ajustados a sus necesidades.

<b>MEDIDAS DE SEGURIDAD</b>

<b>Secretariat de Corals Infantils de Catalunya</b> está cumpliendo con la normativa vigente en protección de datos, y manifiesta que los datos son tratados de manera lícita, leal y transparente en relación con el interesado y adecuados, pertinentes y limitados a lo necesario en relación con los fines para los que son tratados.

<b>Secretariat de Corals Infantils de Catalunya</b> garantiza que ha implementado políticas técnicas y organizativas apropiadas para aplicar las medidas de seguridad que establecen la normativa vigente en protección de datos, con el fin de proteger los derechos y libertades de los Usuarios y les ha comunicado la información adecuada para que puedan ejercerlos.

<b>DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</b>

El sitio web, incluyendo a título enunciativo, pero no limitativo su programación, edición, compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos, son propiedad de <b>Secretariat de Corals Infantils de Catalunya</b> o, si es el caso, dispone de licencia o autorización expresa por parte de los autores. Todos los contenidos del sitio web se encuentran debidamente protegidos por la normativa de propiedad intelectual e industrial, así como inscritos en los registros públicos correspondientes.

Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso, explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa por parte de <b>Secretariat de Corals Infantils de Catalunya</b>. Cualquier uso no autorizado previamente se considera un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.

Los diseños, logotipos, texto y/o gráficos ajenos a <b>Secretariat de Corals Infantils de Catalunya</b> y que pudieran aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos.

<b>Secretariat de Corals Infantils de Catalunya</b> reconoce a favor de sus titulares los correspondientes derechos de propiedad intelectual e industrial, no implicando su sola mención o aparición en el sitio web la existencia de derechos o responsabilidad alguna sobre los mismos, como tampoco respaldo, patrocinio recomendación por parte del mismo.

Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del correo electrónico <b>info@scic.cat</b>.

<b>EXENCIÓN DE RESPONSABILIDADES</b>

<b>Secretariat de Corals Infantils de Catalunya</b> se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo.

<b>Política de enlaces</b>

Desde el sitio web, es posible que se redirija a contenidos de terceros sitios web. Dado que <b>Secretariat de Corals Infantils de Catalunya</b> no puede controlar siempre los contenidos introducidos por los terceros en sus respectivos sitios web, no asume ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso, procederá a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o internacional, la moral o el orden público, procediendo a la retirada inmediata de la redirección a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido en cuestión.

<b>Secretariat de Corals Infantils de Catalunya</b> no se hace responsable de la información y contenidos almacenados, a título enunciativo, pero no limitativo, en foros, chats, generadores de blogs, comentarios, redes sociales o cualquier otro medio que permita a terceros publicar contenidos de forma independiente en la página web de <b>Secretariat de Corals Infantils de Catalunya</b>. Sin embargo, y en cumplimiento de lo dispuesto en la normativa vigente de la Sociedad de la Información, se pone a disposición de todos los usuarios, autoridades y fuerzas de seguridad, colaborando de forma activa en la retirada o, en su caso, bloqueo de todos aquellos contenidos que puedan afectar o contravenir la legislación nacional o internacional, los derechos de terceros o la moral y el orden público. En caso de que el usuario considere que existe en el sitio web algún contenido que pudiera ser susceptible de esta clasificación, se ruega lo notifique de forma inmediata al administrador del sitio web.

Este sitio web ha sido revisado y probado para que funcione correctamente. En principio, puede garantizarse el correcto funcionamiento los 365 días del año, 24 horas al día. Sin embargo, <b>Secretariat de Corals Infantils de Catalunya</b> no descarta la posibilidad de que existan ciertos errores de programación, o que acontezcan causas de fuerza mayor, catástrofes naturales, huelgas o circunstancias semejantes que hagan imposible el acceso a la página web.

<b>Direcciones IP</b>

Los servidores del sitio web podrán detectar de manera automática la dirección IP y el nombre de dominio utilizados por el usuario. Una dirección IP es un número asignado automáticamente a un ordenador cuando éste se conecta a Internet. Toda esta información es registrada en un fichero de actividad del servidor debidamente inscrito que permite el posterior procesamiento de los datos con el fin de obtener mediciones únicamente estadísticas que permitan conocer el número de impresiones de páginas, el número de visitas realizadas a los servidores web, el orden de visitas, el punto de acceso, etc.

<b>NORMAS DE COMPORTAMIENTO DEL BLOG</b>

<b>Secretariat de Corals Infantils de Catalunya </b>le agradece su interés por hacer uso de nuestros canales de participación. Los comentarios son una vía de participación para todos los usuarios de este medio.

Si quieres participar en nuestros blogs, tendrás que aceptar estas reglas:

1.- Responsabilidad del Usuario. Al participar en los blogs de la web eres el único responsable de los mensajes que difundas a través de aquellos, garantizando a <b>Secretariat de Corals Infantils de Catalunya</b> la total indemnidad frente cualquier reclamación que pudiera planteársele por tales conceptos.

En caso de que los mensajes contengan material protegido por derechos de propiedad intelectual o industrial, el usuario garantiza que es su propietario o cuenta con la autorización del propietario para difundirlo en los Blogs.

Y se exime a <b>Secretariat de Corals Infantils de Catalunya</b> de cualquier reclamación de terceros que se planteara por tales conceptos.

2. El usuario deberá, antes de publicar un mensaje, elegir el blog apropiado. Aquellos mensajes que no se ajusten a la temática del blog podrán ser eliminados. Está totalmente prohibido publicar promociones y enlaces de ofertas comerciales, publicidad, material promocional, cartas cadena ni cualquier actividad promocional directa o indirecta o cualquier otro tipo de comentario que no se ajuste al normal desarrollo de los temas de los blogs.

3. El usuario deberá respetar al resto de usuarios. El usuario debe ser tolerante y respetuoso con los mensajes y opiniones de los demás usuarios. Se podrán suprimir aquellos mensajes que puedan ser considerados lesivos contra los derechos de terceros o que atenten contra el desarrollo pacífico de los blogs.

4. <b>Secretariat de Corals Infantils de Catalunya</b> se reserva el derecho de reproducir, modificar, o difundir los mensajes publicados en los blogs de la web conforme a los términos y medios convenientes sin que por ello corresponda al usuario ningún tipo de compensación.

5. <b>Secretariat de Corals Infantils de Catalunya</b> no es responsable de lo publicado en los blogs de la web ni garantiza la veracidad o exactitud de ninguna información publicada en los mismos. Corresponde al usuario remitente de los mensajes o informaciones la responsabilidad sobre su contenido.

6. <b>Secretariat de Corals Infantils de Catalunya</b> no garantiza la disponibilidad ni continuidad del servicio de blogs de la web, pudiendo modificarlo, suspenderlo o eliminarlo de la web sin previo aviso, en cualquier momento.

7. En el caso de que un usuario pueda verse afectado por actuaciones ilegales, o detecte un mal uso de los blogs de la web por parte de otros usuarios, podrá ponerlo en conocimiento de <b>Secretariat de Corals Infantils de Catalunya</b>, a través del correo electrónico info@scic.cat, indicando en la referencia del asunto “moderación de blogs”, para que <b>Secretariat de Corals Infantils de Catalunya</b> pueda moderar o eliminar los mismos.

8. El usuario mantendrá indemne a <b>Secretariat de Corals Infantils de Catalunya</b> frente a cualquier reclamación que pudiera presentársele por los mensajes que el usuario haya difundido en los blogs o por cualquier otra conducta vinculada o derivada de la utilización por el usuario de los blogs de la web.

<b>LEY APLICABLE Y JURISDICCIÓN</b>

La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman esta Política de Privacidad, así como cualquier cuestión relacionada con los servicios de la presente web, será la ley española.

&nbsp;
