<h1>Política de privacitat</h1>
<b>IDENTIFICACIÓ DEL TITULAR</b>

<b>www.scic.cat</b> és un domini titularitat de <b>Secretariat de Corals Infantils de Catalunya</b> domiciliada en <b>Pl. de Víctor Balaguer 5, 3r 08003 Barcelona</b> C.I.F. <b>G58329210</b> i adreça de correu electrònic <a href="mailto:info@scic.cat">info@scic.cat</a>.

<b>PROTECCIÓ DE DADES</b>

<b>Secretariat de Corals Infantils de Catalunya</b>, és el Responsable del tractament de les dades personals de l'Usuari i l’informa que aquestes dades seran tractades de conformitat amb el que es disposa en les normatives vigents en protecció de dades i conforme a la normativa vigent de la societat de la informació, per la qual cosa es facilita la següent informació del tractament:

<b>Fi del tractament:</b> mantenir una relació comercial amb l'Usuari. Les operacions previstes per realitzar el tractament són:

Remissió de comunicacions comercials publicitàries, sempre que s'hagi autoritzat prèviament, per email, fax, SMS, MMS, comunitats socials o qualsevol altre mitjà electrònic o físic, present o futur, que possibiliti realitzar comunicacions comercials. Aquestes comunicacions seran realitzades per <b>Secretariat de Corals Infantils de Catalunya</b> i relacionades sobre els seus productes i serveis, o dels seus col·laboradors o proveïdors amb els quals aquest hagi aconseguit algun acord de promoció. En aquest cas, els tercers mai tindran accés a les dades personals.

Realitzar estudis estadístics.

Tramitar encàrrecs, sol·licituds o qualsevol tipus de petició que sigui realitzada per l'usuari a través de qualsevol de les formes de contacte que es posen a la seva disposició.

Remetre el butlletí de notícies de la pàgina web.

<b>Criteris de conservació de les dades</b>: es conservaran mentre existeixi un interès mutu per mantenir la fi del tractament i quan ja no sigui necessari per a tal fi, se suprimiran amb mesures de seguretat adequades per garantir la seudonimización de les dades o la destrucció total d’aquests.

<b>Comunicació de les dades:</b> excepte per obligació legal, <b>Secretariat de Corals Infantils de Catalunya</b> informa i garanteix expressament als usuaris que les seves dades personals no seran cedides en cap cas a tercers, i que sempre que realitzarà algun tipus de cessió de dades personals, es demanarà prèviament el consentiment exprés, informat i inequívoc per part els Usuaris

<b>Transferències Internacionals:</b> No es realitzen Transferències Internacionals de dades a tercers països fora de la Unió Europea.

<b>Drets que assisteixen a l'Usuari:</b>

Dret a retirar el consentiment a qualsevol moment.

Dret d'accés, rectificació, portabilitat i supressió de les seves dades i a la limitació o oposició al seu tractament.

Dret a presentar una reclamació davant l'autoritat de control (agpd.es) si considera que el tractament no s'ajusta a la normativa vigent.

Podrà revocar a qualsevol moment el consentiment prestat a la recepció de comunicacions comercials, enviant la seva sol·licitud al correu electrònic <b>info@scic.cat</b>.

<b>Dades de contacte per exercir els seus drets:</b>

Adreça postal: <b>Pl. de Víctor Balaguer 5, 3r 08003 Barcelona</b>

Adreça electrònica: <b>info@scic.cat</b>.

Els Usuaris, mitjançant la marcació de les caselles corresponents i entrada de dades en els camps, marcats amb un asterisc (*) en el formulari de contacte o presentats en formularis de descàrrega, accepten expressament i de forma lliure i inequívoca, que les seves dades són necessàries per atendre la seva petició, per part del prestador, sent voluntària la inclusió de dades en els camps restants. L'Usuari garanteix que les dades personals facilitades a <b>Secretariat de Corals Infantils de Catalunya</b> són veraces i es fa responsable de comunicar qualsevol modificació d’aquests.

Totes les dades sol·licitades a través del lloc web són obligatoris, ja que són necessaris per a la prestació d'un servei òptim a l'Usuari. En cas que no siguin facilitats totes les dades, no es garanteix que la informació i serveis facilitats sigui completament ajustats a les seves necessitats.

<b>MESURES DE SEGURETAT</b>

<b>Secretariat de Corals Infantils de Catalunya</b> està complint amb la normativa vigent en protecció de dades, i manifesta que les dades són tractades de manera lícita, lleial i transparent en relació amb l'interessat i adequats, pertinents i limitats al necessari en relació amb les finalitats pels quals són tractats.

<b>Secretariat de Corals Infantils de Catalunya </b>garanteix que ha implementat polítiques tècniques i organitzatives apropiades per aplicar les mesures de seguretat que estableixen la normativa vigent en protecció de dades, amb la finalitat de protegir els drets i llibertats dels Usuaris i els ha comunicat la informació adequada perquè puguin exercir-los.

<b>DRETS DE PROPIETAT INTEL·LECTUAL I INDUSTRIAL</b>

El lloc web, inclòs a títol enunciatiu, però no limitatiu la seva programació, edició, compilació i altres elements necessaris per al seu funcionament, els dissenys, logotips, text i/o gràfics, són propietat de <b>Secretariat de Corals Infantils de Catalunya</b> o, si és el cas, disposa de llicència o autorització expressa per part dels autors. Tots els continguts del lloc web es troben degudament protegits per la normativa de propietat intel·lectual i industrial, així com inscrits en els registres públics corresponents.

Independentment de la finalitat per la qual anessin destinats, la reproducció total o parcial, ús, explotació, distribució i comercialització, requereix en tot cas de l'autorització escrita prèvia per part de <b>Secretariat de Corals Infantils de Catalunya</b>. Qualsevol ús no autoritzat prèviament es considera un incompliment greu dels drets de propietat intel·lectual o industrial de l'autor.

Els dissenys, logotips, text i/o gràfics aliens a <b>Secretariat de Corals Infantils de Catalunya</b> i que poguessin aparèixer en el lloc web, pertanyen als seus respectius propietaris, sent ells mateixos responsables de qualsevol possible controvèrsia que pogués suscitar-se respecte als mateixos.

<b>Secretariat de Corals Infantils de Catalunya</b> reconeix a favor dels seus titulars els corresponents drets de propietat intel·lectual i industrial, no implicant el seu sol esment o aparició en el lloc web l'existència de drets o responsabilitat alguna sobre els mateixos, com tampoc respatller, patrocini recomanació per part del mateix.

Per realitzar qualsevol tipus d'observació respecte a possibles incompliments dels drets de propietat intel·lectual o industrial, així com sobre qualsevol dels continguts del lloc web, pot fer-ho a través del correu electrònic <b>info@scic.cat</b>.

<b>EXEMPCIÓ DE RESPONSABILITATS</b>

<b>Secretariat de Corals Infantils de Catalunya</b> s'eximeix de qualsevol tipus de responsabilitat derivada de la informació publicada en el seu lloc web sempre que aquesta informació hagi estat manipulada o introduïda per un tercer aliè al mateix.

<b>Política d'enllaços</b>

Des del lloc web, és possible que es redirigeixi a continguts de tercers llocs web. Atès que <b>Secretariat de Corals Infantils de Catalunya</b> no pot controlar sempre els continguts introduïts pels tercers en els seus respectius llocs web, no assumeix cap tipus de responsabilitat respecte a aquests continguts. En tot cas, procedirà a la retirada immediata de qualsevol contingut que pogués contravenir la legislació nacional o internacional, la moral o l'ordre públic, procedint a la retirada immediata de la redirecció a aquest lloc web, posant en coneixement de les autoritats competents el contingut en qüestió.

<b>Secretariat de Corals Infantils de Catalunya</b> no es fa responsable de la informació i continguts emmagatzemats, a títol enunciatiu, però no limitatiu, en fòrums, xats, generadors de blogs, comentaris, xarxes socials o qualsevol un altre mitjà que permeti a tercers publicar continguts de forma independent a la pàgina web de Secretariat de Corals Infantils de Catalunya. No obstant això, i en compliment del que es disposa en la normativa vigent de la Societat de la Informació, es posa a la disposició de tots els usuaris, autoritats i forces de seguretat, col·laborant de forma activa en la retirada o, si escau, bloqueig de tots aquells continguts que puguin afectar o contravenir la legislació nacional o internacional, els drets de tercers o la moral i l'ordre públic. En cas que l'usuari consideri que existeix en el lloc web algun contingut que pogués ser susceptible d'aquesta classificació, es prega el notifiqui de forma immediata a l'administrador del lloc web.

Aquest lloc web ha estat revisat i provat perquè funcioni correctament. En principi, pot garantir-se el correcte funcionament els 365 dies de l'any, 24 hores al dia. No obstant això, <b>Secretariat de Corals Infantils de Catalunya</b> no descarta la possibilitat que existeixin certs errors de programació, o que esdevinguin causes de força major, catàstrofes naturals, vagues o circumstàncies semblants que facin impossible l'accés a la pàgina web.

<b>Adreces IP</b>

Els servidors del lloc web podran detectar de manera automàtica l'adreça IP i el nom de domini utilitzats per l'usuari. Una adreça IP és un nombre assignat automàticament a un ordinador quan aquest es connecta a Internet. Tota aquesta informació és registrada en un fitxer d'activitat del servidor degudament inscrit que permet el posterior processament de les dades amb la finalitat d'obtenir mesuraments únicament estadístics que permetin conèixer el nombre d'impressions de pàgines, el nombre de visites realitzades als servidors web, l'ordre de visites, el punt d'accés, etc.

<b>NORMES DE COMPORTAMENT DEL BLOG</b>

<b>Secretariat de Corals Infantils de Catalunya</b> li agraeix el seu interès per fer ús dels nostres canals de participació. Els comentaris són una via de participació per a tots els usuaris d'aquest mitjà.

Si vols participar als nostres blocs, hauràs d’acceptar aquestes normes:

1.- Responsabilitat de l’Usuari. En participar als blocs de la web ets l’únic responsable dels missatges que difonguis, garantint a <b>Secretariat de Corals Infantils de Catalunya</b> la total indemnitat davant de qualsevol reclamació que pugui plantejar-se-li per aquests conceptes.

En el cas de què els missatges continguin material protegit per drets de propietat intel·lectual o industrial, l’usuari garanteix que n’és el seu propietari o que compta amb l’autorització del propietari per difondre’l als blocs.

I s’eximeix a <b>Secretariat de Corals Infantils de Catalunya</b> de qualsevol reclamació de tercers que es plantegés per aquests conceptes.

2.- L’usuari haurà de, abans de publicar un missatge, escollir el blog apropiat. Aquells missatges que no s’ajustin a la temàtica del blog podran ser eliminats. Està totalment prohibit publicar promocions i enllaços d’ofertes comercials, publicitat, material promocional, cartes cadena ni qualsevol activitat promocional directa o indirecta o qualsevol altre tipus de comentari que no s’ajusti al desenvolupament normal dels temes dels blocs.

3.- L’usuari haurà de respectar a la resta d’usuaris. L’usuari haurà de ser tolerant i respectuós amb els missatges i opinions de la resta d’usuaris. Es podran suprimir aquells missatges que puguin ser considerats lesius contra els drets de tercers o que atemptin contra el desenvolupament pacífic dels blocs.

4.- <b>Secretariat de Corals Infantils de Catalunya</b> es reserva el dret de reproduir, modificar, o difondre els missatges publicats als blocs de la web d’acord als terminis i mitjans convenients sense que per això correspongui a l’usuari cap tipus de compensació.

5.- <b>Secretariat de Corals Infantils de Catalunya</b> no és responsable d’allò publicat als blocs de la web ni garanteix la veracitat o exactitud de cap informació publicada als mateixos. Correspon a l’usuari remitent dels missatges o informacions la responsabilitat sobre el seu contingut.

6.- <b>Secretariat de Corals Infantils de Catalunya</b> no garanteix la disponibilitat ni continuïtat del servei de blocs de la web, podent modificar-lo, suspendre’l o eliminar-lo de la web sense previ avís, en qualsevol moment.

7.- En el cas de què un usuari pugui veure’s afectat per actuacions il·legals, o detecti un mal ús dels blocs de la web per part d’altres usuaris, podrà posar-ho en coneixement de <b>Secretariat de Corals Infantils de Catalunya, </b>a través del correu electrònic <a href="mailto:info@scic.cat"><b>info@scic.cat</b></a> indicant a la referència de l’assumpte “moderació de blocs”, per a què <b>Secretariat de Corals Infantils de Catalunya</b> pugui moderar o eliminar els mateixos.

8.- L’usuari mantindrà indemne a <b>Secretariat de Corals Infantils de Catalunya</b> davant de qualsevol reclamació que pogués presentar-se-li per els missatges que l’usuari hagi difós als blocs o per a qualsevol altre conducta vinculada o derivada de l’ús per part de l’usuari dels blocs de la web.

<b>LLEI APLICABLE I JURISDICCIÓ</b>

La llei aplicable en cas de disputa o conflicte d'interpretació dels termes que conformen aquesta Política de Privacitat, així com qualsevol qüestió relacionada amb els serveis de la present web, serà la llei espanyola.