

.article-wrapper {

	max-width: 700px;
	margin:0 auto;
	margin-top: $size-1;
	background-color: white;
	border: $yellow solid 2px;
	padding: $size-3 $size-3;
}

.article-title  {

	color: $green;
	margin-bottom: 0!important;
	
}

.article-thumbnail {
	display: block;
	width: 100%;
	text-align: center;

	img {
		max-height: 400px;

	}
}


.article-date {
	
	font-size: 14px;
	font-weight: 400;
	margin-top: -200px;
	display: inline-block;
	margin-bottom: $size-3;
	&:before {
			font-family: FontAwesome;
			content:"\f017";
			margin-right: 5px;
			margin-top: 25px;
		}
}
