


.banners {

	display: flex;
	//margin-top: $size-1;
	flex:1;	
	justify-content: space-between;

	@media screen and (max-width:600px) {
		  flex-direction: column;  
		    	  
		 }
}

.banner {
	
	//display: flex;
	width: 47%;
	background-color: white;

	@media screen and (max-width:600px) {
		  width: 100%;
		  margin-bottom:$size-4;  
		    	  
		 }
	
}
