
.llistat-corals {

	//display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	//width: 100%;
	display: flex;
	//width: 1200px;
	//height: 1000px;
	width: 100%;
	//border:solid 1px $yellow;
	
	@extend .clear;
	// border: solid 1px purple;

	border: solid 1px silver;
}

.llistat-corals-title {

	text-align: center;
	font-size: 1.8em!important; //why?
	width: 100%;
	margin-top: 0!important;
	margin-bottom: 0!important;
	padding: $size-5;
	padding-top: 0;
	color: $yellow;


}


.llistat-corals-item {

	padding: $size-6;
	border-bottom: silver solid 1px;
	width: 100%;
	position: relative;
	font-weight: 600;
	//max-width: 90%;

	strong,i {
		color:$grey-dark!important;//why?
		font-weight: 400;
	}

	&:after {
		
		position: absolute;
		right: $size-6;
		top: 5px;
		font-family: FontAwesome;
		
		color: $grey-dark;
		content: "\f105";
		font-size: 1.9em;
		
		

	}

	&:hover,&:focus,&:active {

		background-color: $grey-lighter;
	}


}