
.destacats {
		
	margin-top: $size-1;
	
	@media screen and (max-width:600px) {
		 margin-top: 0;
		    	  
		 }

	// display: flex;
	// flex: 1;
	// justify-content: space-between;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	@media screen and (max-width:600px) {
		  flex-direction: column;  
		    	  
		 }
	
}

.noticies .noticia {

	margin-bottom: $size-1;
}


.noticia {
	
	width: 30%;
	max-width: 31%;
	border: 1px solid silver;
	box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
	background-color: white;
	position: relative;

	@media screen and (max-width:600px) {
		  width: 100%;
		  max-width: 100%;
		  margin-bottom: $size-2;  
		    	  
		 }
}


.noticia-category a {

	border: solid 1px $grey;
	border-radius:15px;
	padding: 2px 3px;
	text-align: center;
	background-color: white;
	font-weight: 600;
	font-size: 14px;
	margin: 0 auto;
	display: block;
	max-width: 70px;
	
	transition: 0.2s ease-out;

	margin-top: -15px;

	position:relative;

	&:hover {
		text-decoration: none;
	}
	
}


.noticia-img {
	
	padding: 0;
	overflow: hidden;
	height: 140px;
	// margin-top: -25px;
	background-color: $grey-lighter;
	background-image: url("../img/logo-gris.png") no-repeat center;
	// position: relative;
	//float: left;
	//margin-top: -12px; // use with badge
	
	
	// &:before {

	// 	content: "";
	// 	position: absolute;
	// 	border-bottom: transparent 50px solid; 
	// 	border-right: transparent 50px solid;
	// 	width: 0;
	// 	height: 0;
	// }
	
	a {

		& img:hover {
    opacity: 1;
  		}
	}

}

.noticia-text {
	
	padding: $size-7 $size-3 $size-7 $size-3;
	font-size: 14px;
}

.noticia-header {

	font-size: $size-5;
	margin-bottom: $size-7;
	font-weight: 600;

	a:hover {
		color: $yellow;
	}
	
}


.noticia-header a {
	color: $grey-darker;

		&:after {
					font-family: FontAwesome;
					content:" \f105";
					margin-left: 8px;
					vertical-align: middle;
					line-height: 1.1;
					font-size: $size-4;
					position: absolute;
					transition: 0.4s ease;
					color:$grey-dark;
					
					
				}

		&:hover:after {

					margin-left: 20px;
					color:$yellow;
				}
			
}




.category-scic > .noticia-img:before {

		//border-left: solid 50px $purple;
		
		
}

.category-corals > .noticia-img:before {

		
		border-left: solid 50px $blue;
		
}



.category-scic .noticia-category a {
	
	color: $purple;
	&:hover {

		background-color: $purple;
		color:white;
	}
	
}
.category-corals .noticia-category a {
	
	color: $blue;
	&:hover {

		background-color: $blue;
		color:white;
	}
	
}

.category-destacats .noticia-category a {
	
	color: $yellow;
	&:hover {

		background-color: $yellow;
		color:white;
	}
	
}

.category-badge {
	
	width: 100px;
	height: 100px;
	
	position: absolute;
	overflow: hidden;
	
	&:before {

	height:100%;
    width:100%;
    position:relative;
   
    transform: rotate(-45deg);
    content:'';
    display:block;
    position:absolute;
    left:-60%;
    top:-60%;
   	background:$purple;
    background-size:cover;}

}

.category-corals .category-badge {

	&:before {

			background: $blue;
	}

}







