/**
 * partials/footer
 * ---
 */


.footer { 
		
		border-top: 1px solid grey;
		margin:0 auto;
		margin-top: $size-1;
		margin-bottom: $size1;
		padding: 0 1em;
		max-width: 1300px;
		display: flex;
		flex-flow: row wrap;
		flex:1 100%;
		
		
		& > div {

			flex:1;
		}
		.nav-center {

			margin-top: $size-5;
			
		}
}

.footer-logos {

		display: flex;
		justify-content: flex-end;
		align-items: center;

}


.up-button {
		display: block;
		
	&:before {
		
		position: absolute;
		font-family: FontAwesome;
		margin-top: $size-1;
		color: $grey-dark;
		//background-color: white;
		content: "\f139";
		text-align: center;
		width: 90%;
		height: 25px;
		font-size: $size-1;

		
	}

	&:hover:before  {

		color: $green;
	}

	@media screen and (max-width:500px) {
		
		margin-top: 20px;


	}

}

.footer  {
	.current-menu-item,.current_page_parent {
		
		&:before {
			display: none;
		}
	}
}

.footer .nav-center {

	@media screen and (max-width:750px) {
		    
		  	display: none;
		  }

}