
.home-calendar-wrapper {
	
	margin-top: $size-3;
	display: flex;
	flex-flow: row wrap;
	flex:1 100%;	
	justify-content: space-between;

	@media screen and (max-width:500px) {
		    
		  flex-direction: column;
		  width: 100%;
		  }
}

.home-calendar-block {

	@extend .category-corals;
	padding: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
	@media screen and (max-width:700px) {
		    
		  
		  width: 100%;
		  margin-bottom: $size-1;
		  }
	
}

.home-calendar-block:first-child {
	@extend .category-scic;
}



.home-calendar__header{

	text-align: center;
	font-size: $size-4;
	color: $grey-darker;
	font-weight: 400;
	

}

.home-calendar_event {

	padding:$size-5;
	
	background-color: white;
	border-right: none;
	border-left: none;
	width: 50%;
	float: left;

	@media screen and (max-width:500px) { 

		width: 100%;}
		    
	

	strong { // aixo es el nom del lloc
		
	}

	.multidate {
		li {
			float: left;
			margin-right: 5px;

		}
		.multidate-time, .multidate-end {
			display: none;
		}
	}
}

.home-calendar_event-date {

	color: orange;
	font-weight: 700;
}

.home-calendar_event-name a{

	font-size: $size-5!important;
	color:$grey-dark!important;
	display: block!important;
	max-width: 90%;
}

.home-calendar__more-link {

	float: right;
	margin-top: -50px;
	
	i {font-size: $size-1;}


	
}
 .home-calendar__more-link  {

	color:$grey;

	&:hover {

		color:$grey-darker;
	}
}

// .category-corals .home-calendar__more-link  {

// 	color:$blue;

// }

// .category-activitats .home-calendar__more-link  {

// 	color:$green;
	
// }

.home-calendar-block:before {

		content: "";
		position: absolute;
		border-bottom: transparent 50px solid; 
		border-right: transparent 50px solid;
		
		
		width: 0;
		height: 0;

}

.home-calendar-block:before {
	border-left: solid 50px $blue;
}

.home-calendar-block:first-child:before {

		
	border-left: solid 50px $purple;
		
		
}







