.xarxes {


	display: flex;
	justify-content: space-between;
	margin-top: $size-3;
	flex-wrap:wrap;

	.widget_text {
		width: 48%;
		@extend .category-corals;

		@media screen and (max-width:666px) { 
			width: 100%;
			margin-bottom: $size-3;
		}

		h3 {
			text-align: center;
			color: #333;
		}
	}
}