.wrapper {
  

  max-width: 1300px;
  margin:0 auto;
  padding: 0 1em;
}


.site-header {}

.main { 
	max-width: 1000px;
	margin:0 auto;
	margin-top: $size-2;
	//background-color: $grey-lighter;
	@media screen and (max-width:600px) {
		 margin-top: $size-4;
		    	  
		 }
}

.footer {}