/**
 * partials/nav
 * ---
 * Menus
 */


.nav { 

	display: flex;
	margin:0 auto;
	margin-top: $size-7;
	margin-bottom: 0;
	font-size: 18px;
	align-items: center;

	@media screen and (max-width:870px) {
		    
		    font-size: 16px;
		  }
	@media screen and (max-width:750px) {
		    
		    	display: block;  
		 }
}


.nav-left {

	
		align-self: flex-start;
	
	
	flex:1;
	
	@media (min-width:750px) and (max-width:870px) {
		    
		    flex:1 35%;
		    background-color: $grey-lighter;

	}

	@media screen and (max-width:750px) {
		    width: 50%;
	}

}

.nav-center {

	
	
	flex:2 ;

	align-self: flex-end;


	@media (min-width:750px) and (max-width:870px) {
		    
		   flex: 1 100%;
	}

	@media screen and (max-width:750px) {
		    width: 100%;
		    margin-top: $size-6;

		    border: 1px solid $green;
		    padding: $size-5 0;
		    background-color: $grey-lighter;
	}



}


.nav-right { 

	flex:1;
	align-self:flex-start;

	@media screen and (max-width:870px) {
		    
		    flex:1 30%;
		    
		   	
		  }

@media screen and (max-width:750px) {
		    
		   position: absolute;
		   right: $size-6;
		   top: $size-6;
		  }		  

	.idiomes {
		display: flex;
		justify-content: flex-end;

		.eng {
			font-size: 12px;
			align-self: flex-end;
			margin-left: $size-6;
		}
	}
	
			
}

// WP MENU classes

.menu {
	display: flex;
	justify-content:center;
	margin: 0;
	padding: 0;
	position: relative;

	@media screen and (max-width:750px) {
		    
		    justify-content:auto;
	}	

	@media screen and (max-width:500px) {
		
		flex-wrap: wrap;


	}
}

.menu-item {

	padding: 0 1rem;
}


//State active - Dit pointer

.nav-center {
	
	.current-menu-item {

			position: relative;
			font-weight: 600;
			z-index: 1;
			
			&:before {

					content: "";
					position: absolute;
					font-family: FontAwesome;
					content:"\f0a7";
					text-align: center;
					margin: 0 auto;
					max-width: 50px;
					margin-top: -25px;
					margin-left: 25%;
					font-weight: 400;
					


					// background:repeating-linear-gradient(
				 //  	90deg,
				 //  	white,
				 //  	white 2px,
				 //  	$purple 4px,
				 //  	$purple 4px
					// ), 10px, no-repeat;
		}
	}

	.current-menu-ancestor a {

		font-weight: 600;
	}



	.current_page_parent .current-menu-item {

		&:before {
			
			display: none; 
		}
	}
}


// Dropdown dropit.js


.my-dropdown a {
	cursor: pointer;
}

.menu ul{
	display:none;
	transition:0.4s ease-out;
}



.menu ul.dropit-submenu{

	position: absolute;
	border: 1px solid $grey;
	padding: 5px  $size-6;
	background-color: white;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
	margin-top: -70px;
	
	z-index: 1000;

	@media screen and (max-width:500px) {
		
		margin-top: -90px;
		margin-left: -10px;
		width: 80%;
		// top:1;
		// left: 1;
		// width: 90%;
		// padding: $size-3 $size-7;
		
		
		    	  
		 }

	&:before {
		
		position: absolute;
		font-family: FontAwesome;
		margin-top: 20px;
		color: $grey-dark;	
		content: "\f0d7";
		width: 100%;
		height: 25px;

		@media screen and (max-width:500px) {
		
			margin-top: 45px;
		    	  
		 }
		
	}
}

.menu ul.dropit-submenu li {padding: 0;
	float: left;
	margin-right: $size-5; 
	font-size: 16px; 
	
	@media screen and (max-width:500px) {
		
			margin-right: $size-3;
		    	  
		 }


}

.menu ul.dropit-submenu a:hover{}



#menu-members {
	
	justify-content:flex-end;
	
	
	li {
		padding-right: 0;
	}
	
	a {
	@media screen and (max-width:870px) {
		    
		    //flex:1 100%;
		    //background-color: $grey-light;
		   	// float: left;
		   	font-size: 12px;
		  }
	}
}



.language-chooser {
	
	display:flex;
	font-size: 12px;
	flex:1 50%;
	justify-content:flex-end;
	margin-top: 1rem;

	a {
		color: $grey-dark;
		padding: 0 3px;
		margin-left: 8px;
		
		&:hover,
		&:focus{
			color: $blue;
		}
	}
	
	
	.active a {

			color: black;
			font-weight:500;

			&:before {
				font-family: FontAwesome;
				content:"\f11d";
				margin-right: 5px;
				
		}

		
	}

}







.menu-escriptori {
		
		width: 100%;
		display: flex;
		flex:1;
		justify-content: space-between;
		padding: $size-1 0;

	 .fa {

		font-size: $size-4;
		//color: $grey;
		float: left;
		margin-right: $size-6;
		
	}
}

.menu-image-title-hide {

		
		

		
}


