

.page-wrapper {

	max-width: 900px;
	margin:0 auto;
	margin-top: $size-3;
	background-color: white;
	//border: $yellow solid 1px;
	padding: 0 $size-3;
	@extend .clear;
}

.page-title {

	text-align: center;
	display: none;
}