


.read-more {
	
	display: block;
	padding: $size-3 0;
	padding-top: $size-2;
	//flex: 1;
	width: 100%;
	justify-content: center;
	

	.button {
		
		display: block;
		margin: 0 auto;
		width: 30%;
		font-weight: 400;

		@media screen and (max-width:750px) {
		    width: auto;
		    float: none;
		  }

	}
}

