/**
 * partials/utils
 * ---
 * Utils classes
 */


// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}




.is-equal-heigth {

	flex-wrap: wrap; 
	display: flex;

	
}


.has-box-shadow {
	

	border: 1px solid silver;
	box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
	}


.has-scic-color, .has-scic-color a  {

  color: $purple;
}

.has-corals-color, .has-corals-color a  {

  color: $blue;
}


.category-scic {

  border: $purple solid 1px;
}

.category-corals {

  border: $blue solid 1px;
}

.category-activitats {
  border: $green solid 1px;
}

.u-bit-text-nowrap {
  white-space: nowrap;

}

