
.content {

h1 {
  font-family: inherit;
  font-weight: 400;
  font-style: inherit;
  font-size: 68px;
  line-height: 72px;
  margin-top: 24px;
  margin-bottom: 0px;
}
h2 {
  font-family: inherit;
  font-weight: 400;
  font-style: inherit;
  font-size: 42px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}
h3 {
  font-family: inherit;
  font-weight: 400;
  font-style: inherit;
  font-size: 26px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 0px;
}
h4 {
  font-family: inherit;
  font-weight: 400;
  font-style: inherit;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}
h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0px;
  margin-bottom: 24px;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border: 1px solid;
  margin: -1px 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
  sub {
    bottom: -0.25em;
  }

 a {
    color: $blue;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }

    &:active {}

    & img:hover {
      opacity: 0.8;
    }
  }
}