
.button {

	border: 1px solid $grey;
	border-radius: 5px;
	padding: 0.8rem 1.2rem;
	font-size: 14px;
	font-weight: 400;
	color:$grey-dark;
	text-align: center;
	background-color: white;
	transition: 0.2s ease-in;

	// background: repeating-linear-gradient(
	// 	  45deg,
	// 	  $blue,
	// 	  $green 10px,
	// 	  $yellow 10px,
	// 	  $purple 20px
	// 	);

	&:hover,
	&:focus {
		border-color:$grey-dark;
		text-decoration: none;
		color: $grey-darker;

	}
}

.button-large {
	font-size: 18px;
}

.button-login a {

	@extend .button;

	&:before {
		font-family: FontAwesome;
		margin-right:5px;
		color: $grey-dark;
   		content: "\f007";


	}
}

.button-sign-out a{

	@extend .button;

	&:before {
		font-family: FontAwesome;
		margin-right:5px;
		color: $grey-dark;
   
		content: "\f08b";

	}
}

.button-desk a {

	@extend .button;

	background-color: $turquoise;
	
	
	
	color: white!important;

	&:before {
		font-family: FontAwesome;
		margin-right:5px;
		color: white;
   
		content: "\f135";

	}
}



.button-green {

		border-color: $green;
		color: $green!important;

		&:hover {
			background-color: white!important;
			color: darken($green,10%);
			border-color: darken($green,10%);
		}
		
		

}

.button-blue {

		border-color: $blue;
		color: $blue!important;

		&:hover {
			background-color: white!important;
			color: darken($blue,10%);
			border-color: darken($blue,10%);
		}
		
		

}

.button-yellow {

		border-color: $yellow;
		color: $yellow!important;

		&:hover {
			background-color: white!important;
			color: darken($blue,10%);
			border-color: darken($blue,10%);
		}
		
		

}

.button-purple {

		border-color: $purple;
		color: $purple!important;

		&:hover {
			background-color: white!important;
			color: darken($blue,10%);
			border-color: darken($blue,10%);
		}
		
		

}

// .button-agenda {

// 	margin-top:$size-5;
// 	&:hover {
// 				background-color: white!important;
// 				color:$blue!important;
// 			}

// }

.button-read-more {

	

		&:after {

			position: absolute;
			font-family: FontAwesome;
			content:"\f0a4";
			margin-left: 5px;
			font-size: $size-4;
			line-height: 1;
			transition:0.4s ease-out;

			
		}

		&:hover:after,
		&:focus {
			margin-left: 20px;

		}

}

.has-submenu-arrow {

		display: inline-block;
		white-space: nowrap;
		
		&:after {
			font-family: FontAwesome;
			content:"\f106 ";
			margin-left: 3px;
			font-size: $size-5;
			line-height: 1.5;
			white-space: nowrap;;
			
		}

}


.post-edit-link {

	@extend .button;
	//margin-bottom: $size-3;
	display: inline-block;
	font-size: 12px;
	float: right;
	
}

